{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inregistrare Utilizator</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <div class="register-container">
        <h1>Inregistrare</h1>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <small class="help-text">{{ field.help_text }}</small>
                    {{ field.errors }}
                </div>
            {% endfor %}
            <p><h3>Dupa inregistrare verificati email pentru confirmare!</h3></p>
            <button type="submit" class="btn">Inregistreaza-te</button>
        </form>
    </div>
</body>
</html>